@import "../../styles/flex-box";
@import "../../styles/colors";
@import "../../styles/campaign";

.cardContainer {
  max-width: 100%;
  padding: 0 .4rem;
  box-sizing: border-box;
  white-space: nowrap;
  @include start-column;
  @include cardText;
  
  .imageWrapper {
    position: relative;
    width: 100%;
    top: 0;
    .productImage {
      width: 100%;
      height: auto;
    }

    .wish {
      @include center-all-row;
      position: absolute;
      background-color: #fff;
      top: .5rem;
      right: 0.1rem;
      width: 2.5rem;
      height: 2.5rem;

      svg {
        width: 2rem;
      }
    }

    .flags {
      @include start-column;
      position: absolute;
      bottom: .75rem;
      left: 0;
    }
  }

  .productInfos {
    @include start-column;
    min-height: 8rem;

    .title {
      @include tiempos;
    }
    
    .title, .description {
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      @include cardText;
    }
    
    .description {  
      @include helveticaNow;
      font-weight: 500; 
      letter-spacing: 1px;
      text-transform: uppercase; 
    }

    .priceTag {
      padding-top: 1rem;
    }
  }

}

// IPAD
@media (min-width: 768px) {
}

// NOTEBOOK
@media (min-width: 1024px) {
}
