@import "../../styles/flex-box";
@import "../../styles/colors";
@import "../../styles/campaign";

.followBrandContainer {
  @include start-x-row;

  .followBrand {
    margin: 1rem 1rem 1rem 0;
    @include start-x-row;
    padding: .5rem;
    padding-right: 1rem;
    
    box-sizing: border-box;
    svg { 
      width: 1.5rem;
      transform: rotate(45deg);
    }
  }
}

// IPAD
@media (min-width: 768px) {
  .followBrandContainer {
    padding-left: 1.5rem;
  }
}

// NOTEBOOK
@media (min-width: 1024px) {
  .followBrandContainer {
    padding-left: 2rem;
  }
}

// NOTEBOOK BIG
@media (min-width: 1400px) {
  .followBrandContainer {
    padding-left: 7rem;
  }
}
