@import '../../../styles/flex-box';
@import '../../../styles/colors';
@import '../../../styles/campaign';
@import '../../../styles/media-paddings';

.followContainer {
  @include start-x-row;
  padding-left: $mobile-padding;

  .follow {
    margin: 1rem 1rem 1rem 0;
    @include start-x-row;
    padding: 0.5rem;
    padding-right: 1rem;

    box-sizing: border-box;
    svg {
      width: 1.5rem;
      transform: rotate(45deg);
    }
  }
}

// IPAD
@media (min-width: 768px) {
  .followContainer {
    padding-left: 1.5rem;
  }
}

// NOTEBOOK
@media (min-width: 1024px) {
  .followContainer {
    padding-left: 2rem;
  }
}

// NOTEBOOK BIG
@media (min-width: 1400px) {
  .followContainer {
    padding-left: $notebook-big-padding;
  }
}
