@import "../styles/flex-box";
@import "../styles/colors";

.menuContainer {
  width: 100vw;
  letter-spacing: 0.05rem;
  z-index: 5;
  overflow: scroll;
  height: 100%;
  background: $terciary;

  .menuHeader.shrink {
    height: 60px;
    transition: all ease-in 150ms;
  }

  .menuHeader {
    transition: all ease 100ms;
    height: 120px;
    @include space-between-center-row;
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.3),
        rgba(20, 20, 20, 0.3)
      ),
      url("https://mosaic02.ztat.net/nvg/z-header-fragment/lipstick/en_DE/women/women-s2.jpg");
    background-size: cover;
    position: fixed;
    width: 100vw;
    z-index: 2;

    .headerCategory {
      display: flex;
      width: 100%;
      height: 100%;
      @include space-between-center-row;

      .goBack {
        padding: 0.8rem;
        height: 100%;
        box-sizing: border-box;
        @include start-y-row;

        svg {
          width: 1.5rem;
        }
      }

      .title {
        height: 100%;
        width: 100%;
        @include end-y-row;
        color: white;

        h2 {
          margin-bottom: 0.5rem;
          white-space: nowrap;
          font-weight: lighter;
        }
      }
    }

    .gender {
      height: 100%;
      @include end-y-row;

      .activeGender {
        display: none;
      }

      .selectGender {
        @include end-y-row;

        span {
          color: $grey-alto;
          box-sizing: border-box;
          font-size: 0.75rem;
          margin-left: 0.8rem;
          margin-right: 3.2rem;
          padding-bottom: 0.8rem;
          width: fit-content;
          transition: all 150ms ease-in;
          border-bottom: 0.2rem solid transparent;
          text-transform: uppercase;
        }

        span.active {
          color: white;
          border-bottom: 0.2rem solid $primary;
          font-weight: 600;
          outline: none;
        }
      }
    }

    .closeMenu {
      height: 100%;
      @include start-y-row;
      padding: 0.8rem;
    }
  }


  .menuList {
    position: relative;
    display: flex;
    height: fit-content;

    .options, .categories { 
      margin-top: 120px;
    }

    .categories.hide {
      transition: all ease 300ms;
      transform: translate3d(-100%, 0, 0);
      z-index: -2;
      height: 0;
    }

    .categories.show {
      transform: translate3d(0, 0, 0);
      transition: all ease 400ms;
    }

    .categories {
      position: absolute;
      display: flex;
      flex-direction: column;
      width: 100%;
      transition: all ease-out 100ms;
    }

    .categories.shrink {
      transition: all ease-out 100ms;
      margin-top: 60px;
    }
  }

  .menuFooter {
    padding: 2.6rem 0;
    text-align: center;

    .svg {
      width: 1.5rem;
    }
  }
}

// IPAD
@media (min-width: 768px) {
  .menuContainer {
    width: 50vw;

    .menuHeader.shrink, .menuHeader {
      height: 60px;
    }

    .menuHeader,
    .menuList {
      width: 50vw;
      height: 100wh;

      .options, 
      .categories, 
      .categories.shrink {
        margin-top: 0;
      }
    }

    .menuList {
      top: 60px;
    }

    .menuHeader {
      background-image: none;
      background: $terciary;

      .gender {
        width: 100%;
        @include start-x-row;
        padding: 20px 24px;
        box-sizing: border-box;
        .activeGender {
          text-transform: capitalize;
          color: $grey-dust;
          font-size: 1rem;
          display: block;
        }

        .selectGender {
          display: none;
        }
      }

      .closeMenu {
        svg {
          path {
            fill: $secondary;
          }
        }
      }

      .headerCategory {
        .goBack {
          @include start-x-row;

          svg {
            width: 1.5rem;
            g {
              path:first-child {
                fill: $secondary;
              }
            }
          }
        }

        .title {
          @include start-x-row;
          color: $secondary;

          h2 {
            font-size: 1rem;
            font-weight: 600;
            margin: 0;
          }
        }
      }
    }
  }
}

// NOTEBOOK
@media (min-width: 1024px) {
}
