@import "../../styles/flex-box";
@import "../../styles/colors";
@import "../../styles/campaign";

.followBrandContainer {
  @include start-x-row;

  .followBrand {
    margin: 1rem;
    @include start-x-row;
    padding: .5rem;
    padding-right: 1rem;
    
    box-sizing: border-box;
    svg { 
      width: 1.5rem;
      transform: rotate(45deg);
    }
  }
}

// IPAD
@media (min-width: 768px) {
}

// NOTEBOOK
@media (min-width: 1024px) {
}
