@import '../../../styles/flex-box';
@import '../../../styles/colors';
@import '../../../styles/campaign';
@import '../../../styles/media-paddings';

.sliderContainer {
  width: 100%;
  display: flex;
  overflow: hidden;
  padding-left: 1rem;
  box-sizing: border-box;
}

// IPAD
@media (min-width: 768px) {
  .sliderContainer {
    padding-left: 1.5rem;
    padding-top: $mobile-padding;
  }
}

// NOTEBOOK
@media (min-width: 1024px) {
  .sliderContainer {
    padding-left: $tablet-padding;
  }
}

// NOTEBOOK BIG
@media (min-width: 1400px) {
  .sliderContainer {
    padding-left: $notebook-big-padding;
  }
}
