#root {
    font-family: Arial,'Arial Unicode MS',Helvetica,'DejaVu Sans','Lucida Sans Unicode',sans-serif;
}

body {
    margin: 0;
    padding: 0;

    button {
        outline: none;
        background: none;
        border: none;
    }

    li {
        list-style: none;
    }
}