@import '../../styles/flex-box';
@import '../../styles/colors';
@import '../../styles/campaign';

.sliderContainer {
  width: 100%;
  display: flex;
  overflow: hidden;
  padding-left: 1rem;
  box-sizing: border-box;
}

// IPAD
@media (min-width: 768px) {
  .sliderContainer {
    padding-left: 1.5rem;
    padding-top: 2rem;
  }
}

// NOTEBOOK
@media (min-width: 1024px) {
  .sliderContainer {
    padding-left: 2rem;
  }
}

// NOTEBOOK BIG
@media (min-width: 1400px) {
  .sliderContainer {
    padding-left: 7rem;
  }
}
